main {
    margin-top: 175px;
    font-size: 0;
    color: #fff;
  }
  
  .main-sub-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    margin-bottom: 0;
  }
  
  .main-title {
    margin-top: 40px;
    margin-bottom: 125px;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 140px;
  }
  
  .main-btn {
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: 4px solid #fff;
    width: 160px;
    height: 40px;
    color: #fff;
    text-transform: uppercase;
  }